main {
	display: flex !important;
	flex-wrap: wrap !important;
	overflow: hidden;
}
video {
	flex-shrink: 0;
	width: 33%;
}
p {
	width: 300px;
	height: 300px;
	color: white;
	text-shadow: 2px 2px 0 blue;
}