main {
	display: flex !important;
	flex-wrap: wrap !important;
	overflow: hidden;
}
video {
	flex-shrink: 0;
	width: 33%;
}
p {
	color: #00FFFF;
	padding: 40px;
	padding-right: 51px;
	font-size: 40px;
}